@using ProjectTracker.Core.ViewModels.Project
@model ProjectDetailsViewModel

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.Name</h1>
</div>


<!-- Content Row -->
<div class="row">


</div>

<!-- Content Row -->

<div class="row">

   @await Html.PartialAsync("_ProjectDetailsPartial", Model);
    
</div>

<div class="row">


    @await Html.PartialAsync("_EmployeesPartial", Model.Employees);

</div>

<!-- Content Row -->
<div class="row">

    <div class="col-lg-6 mb-4">

        @await Html.PartialAsync("_ProjectTicketsPartial", Model.Tickets)

        <a asp-controller="Project" asp-action="SubmitTicket" asp-route-id="@Model.Id" class="btn btn-info btn-icon-split">
            <span class="text">Submit Ticket</span>
        </a>

    </div>

    <div class="col-lg-6 mb-4">

    @await Html.PartialAsync("_TicketsChartPartial")

    </div>
</div>