
<div class="col-lg-6 mb-4">

    <!-- Pie Chart -->
    <div class="col-xl-12 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tickets Status</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="ticketsPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> Open
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> In Progress
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Done
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="~/theme/vendor/chart.js/Chart.min.js"></script>

    <script>

        var ctx = document.getElementById("ticketsPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Open", "In Progress", "Done"],
                datasets: [{
                    data: [@ViewData["Open"], @ViewData["InProgress"], @ViewData["Done"]],
                    backgroundColor: ['#f6c23e', '#4e73df', '#1cc88a'],
                    hoverBackgroundColor: ['#f3ce72', '#84a3ff', '#66e9ba'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
            },
        });

    </script>

</div>