@using ProjectTracker.Core.ViewModels.Department
@model DepartmentDetailsViewModel


<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.Name</h1><br />
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Department Leader</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                
                <p>Name: <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Leader.Id">@Model.Leader.FullName</a></p>
                <p>Email: <b>@Model.Leader.Email</b></p>

            </div>
        </div>
    </div>

</div>

<div class="row">
    
    @await Html.PartialAsync("_DepartmentProjectsPartial", Model.Projects)


    <div class="col-lg-6 mb-4">

    @await Html.PartialAsync("_TicketsChartPartial");

    </div>
</div>

<!-- Content Row -->
<div class="row">

    @await Html.PartialAsync("_DepartmentTicketsPartial", Model.Tickets)

</div>

<div class="row">

    @await Html.PartialAsync("_EmployeesPartial", Model.Employees)

</div>  