<div class="row">
    <div class="col">

        <div class="card mb-4">
            <div class="card-header">
                Manage Projects
            </div>
            <div class="card-body">

                <a asp-controller="Project" asp-action="Create" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Create new Project</span>
                </a>

                <a asp-controller="Project" asp-action="Change" class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Change Project</span>
                </a>

                <a asp-controller="Project" asp-action="Remove" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Remove Project</span>
                </a>

                <a asp-controller="Project" asp-action="Past" class="btn btn-info btn-icon-split">
                    <span class="text">Past Projects</span>
                </a>
            </div>
        </div>

    </div>
        
</div>