<div class="row">
    <div class="col">

        <div class="card mb-4">
            <div class="card-header">
                Manage Employees
            </div>
            <div class="card-body">
                <a asp-controller="Employee" asp-action="All" asp-area="" class="btn btn-info btn-icon-split">
                    <span class="text">All Employees</span>
                </a>

                <a asp-controller="Admin" asp-action="AssignProjects" class="btn btn-success btn-icon-split">
                    <span class="text">Assign Projects</span>
                </a>

                <a asp-controller="Admin" asp-action="AssignDepartments" class="btn btn-success btn-icon-split">
                    <span class="text">Assign Departments</span>
                </a>

                <a asp-controller="Admin" asp-action="AssignRoles" class="btn btn-info btn-icon-split">
                    <span class="text">Assign Employee Roles</span>
                </a>

                <a asp-controller="Employee" asp-action="Remove" class="btn btn-danger btn-icon-split">
                    <span class="text">Remove Employee</span>
                </a>

                <a asp-controller="Employee" asp-action="Past" asp-area="" class="btn btn-info btn-icon-split">
                    <span class="text">Past Employees</span>
                </a>
            </div>
        </div>

    </div>
        
</div>