<div class="row">
    <div class="col">

        <div class="card mb-4">
            <div class="card-header">
                Manage Roles
            </div>
            <div class="card-body">
                <a asp-controller="Admin" asp-action="CreateRole" class="btn btn-info btn-icon-split">
                    <span class="text">Create New Role</span>
                </a>

                <a asp-controller="Admin" asp-action="AssignRoles" class="btn btn-info btn-icon-split">
                    <span class="text">Assign Employee Roles</span>
                </a>
            </div>
        </div>

    </div>
        
</div>