

<div class="text-center" style="padding-top: 100px;">
	<h1>The requested resource could not be found :(</h1>
</div>

<div class="text-center" style="padding-top: 100px;">
	<h3>Click <a href="javascript:void(0)" onclick="history.back();" class="text-success">here</a> to go back to the previous page.</h3>
</div>